*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


body, html{
    height: 100%;
    margin: 0;
    background: url(welcome.jpg) no-repeat center;
    background-size: cover;
}
.container{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100%;
}
.continue-btn{
    display: flex;
    justify-content: center;
    border: 0;
    background: #3B41A6;
    color: #fff;
    padding: 25px 70px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    margin: 100px auto 80px auto;
    font-size: 25px;
    
}

.continue-btn:hover{
    transform: scale(1.1);
    background-color: #b8530b;
}

h1{
    display: flex;
    flex-wrap: wrap;
    font-size: 70px;
    color: white;
    height: auto;
    margin: 0 auto;
    padding: 0 70px;
    
}

a{
    text-decoration: none;
}

.logo{
    width: 200px;
    height: auto ;
    margin-bottom: 50px;
    margin-top: 100px;
}

.push{
    margin-left: auto;
    margin-right: auto;
}

.social{
    padding-top: 500px;
    width: 80px;
    height: 80px;
    border-radius: 30px;
    padding: 5px;
    transition: all .3s;

}

.social-list{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.social-media{
    padding-inline-start: 0px;
    align-items: flex-end;
}

.social:hover{    
    transform: scale(1.2);  
}
.texte1{
    letter-spacing: 0px;
    font-weight: 700;
    position: relative;
    background: black;
    animation: text 3s 1;
}

@keyframes  text{
    0%{
        color:none;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 10px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 0px;
        margin-bottom: -40px;
    }
} 

